{{!
@param IRI source-graph
@param int limit
@param int offset (optional)
}}

        }
        GROUP BY ?match ?inScoreModifier ?outScoreModifier
      }
    }
    GROUP BY ?match
    ORDER BY DESC(?score)
    LIMIT {{limit}}
    {{#offset}}
    OFFSET {{offset}}
    {{/offset}}
  }
  GRAPH <{{source-graph}}> {
    OPTIONAL {
      ?match dcterms:title ?_label .
    }
  }
}
GROUP BY ?match ?score
