{{!
@param IRI metadata-graph
@param xsd:dateTime max-date-time
TODO: For some reason, this is an inefficient query.
}}

{{> templates/prefixes.mustache}}

ASK
WHERE {
  GRAPH <{{metadata-graph}}> {
    ?graph dcterms:created ?created .
    FILTER (xsd:dateTime(?created) < "{{max-date-time}}"^^xsd:dateTime)
  }
  GRAPH ?graph {
    [] ?p [] .
  }
}
