; Do not overwrite this file. Copy this file, save it and make your changes there.
{:api {:version "0.1"}
 :benchmark {:evaluation-metrics [:avg-rank
                                  :avg-response-time
                                  :matches-found
                                  :matches-found-in-top-10
                                  :mean-reciprocal-rank]
             :max-number-of-results 100 ; Set maximum number of results taken into account by the benchmark.
             :process :n-fold-cross-validation ; :repeated-random-sampling or :n-fold-cross-validation
             :sample {:min-main-object-count 0
                      :min-additional-object-count 0
                      :min-zindex false ; Minimum zIndex of authorities of contracts included in the sample.
                      :size 100}
             :sleep 1}
 :cron {:delete-old-graphs {:max-age-minutes 30}}
 :data {:source-graph ""} ; URI of named graph used as source of matched resources
 :elasticsearch {:cluster-name ""
                 :host "127.0.0.1"
                 :index-name ""
                 :port 9300}
 :sparql-endpoint {:endpoints {:query-url  "" ; SPARQL 1.1 Query endpoint
                               :update-url "" ; SPARQL 1.1 Update endpoint
                               :crud-url ""} ; SPARQL 1.1 Graph Store endpoint
                   :username  ""
                   :password  ""}
 :matchmaker {:sparql {; Use to set penalty for pc:additionalObject compared to pc:mainObject.
                       :additional-object-inhibition 0.8
                       :cpv-graph ""
                       :zindex-graph ""}}}
