{{!
@param IRI contract
@param IRI matched-resource-graph
@param IRI source-graph
@param map additional-object-inhibition
@param map main-object-inhibition
@param int limit
@param int offset (optional)
}}

{{> templates/prefixes.mustache}}

SELECT ?match (SAMPLE(?_label) AS ?label) ?score
WHERE {
  {
    SELECT ?match (IF(?scoreSum < 1, ?scoreSum, 1) AS ?score)
    WHERE {
      {
        SELECT ?match (SUM(?contractScore * ?contractCount) AS ?scoreSum) 
        WHERE {
          {
            SELECT ?match
                   ?contractScore
                   (COUNT(?contract) AS ?contractCount)
            WHERE {
              {
                SELECT ?cpvObject ?inScoreModifier 
                WHERE {
                  GRAPH <{{matched-resource-graph}}> {
                    {{> templates/matchmaker/sparql/partials/object_property_inscore.mustache}}
                    <{{contract}}> ?objectProperty ?cpvObject .
                  }
                }
              }
              GRAPH <{{source-graph}}> {
                {{> templates/matchmaker/sparql/partials/object_property_outscore.mustache}}
                ?contract pc:awardedTender [
                    pc:bidder ?match
                  ] ;
                  ?objectProperty ?cpvObject .
              }
              BIND (?inScoreModifier + ?outScoreModifier - 1 AS ?_contractScore)
              BIND (IF(?_contractScore > 0, ?_contractScore, 0) AS ?contractScore)
            }
            GROUP BY ?match ?contractScore
          }
        }
        GROUP BY ?match
      }
    }
    ORDER BY DESC(?score)
    LIMIT {{limit}}
    {{#offset}}
    OFFSET {{offset}}
    {{/offset}}
  }
  GRAPH <{{source-graph}}> {
    {{> templates/matchmaker/sparql/partials/business_entity_legal_names.mustache}}
    OPTIONAL {
      ?match ?businessEntityLegalName ?_label .
    }
  }
}
GROUP BY ?match ?score
