{{!
@param IRI contract
@param IRI source-graph
@param IRI cpv-graph
@param int limit
@param int additional-object-inhibition
}}

{{> templates/matchmaker/sparql/contract/to/business_entity/partials/cpv_query_head.mustache}}

{{> templates/prefixes.mustache}}

{
  SELECT DISTINCT ?cpvObject ?inScoreModifier 
  WHERE {
    GRAPH <{{source-graph}}> {
      {{> templates/matchmaker/sparql/partials/object_property_inscore.mustache}}
      <{{contract}}> ?objectProperty ?sourceObject .
    }
    GRAPH <{{cpv-graph}}> {
      ?sourceObject skos:narrowerTransitive* ?cpvObject .
    }
  }
}
GRAPH <{{source-graph}}> {
  {{> templates/matchmaker/sparql/partials/object_property_outscore.mustache}}
  ?contract pc:awardedTender [
      pc:supplier ?match
    ] ;
    ?objectProperty ?cpvObject .
}
      
{{> templates/matchmaker/sparql/contract/to/business_entity/partials/cpv_query_tail.mustache}}
