{{!
@param IRI contract
@param IRI matched-resource-graph
@param IRI source-graph
@param IRI cpv-graph
@param map additional-object-inhibition
@param map main-object-inhibition
@param map query-expansion
@param int limit
@param int offset (optional)
}}

{{> templates/matchmaker/sparql/contract/to/business_entity/partials/cpv_query_head.mustache}}

{
  SELECT DISTINCT ?cpv ?inScoreModifier 
  WHERE {
    {
      SELECT ?cpv ?inScoreModifier
      WHERE {
        GRAPH <{{matched-resource-graph}}> {
          {{> templates/matchmaker/sparql/partials/object_property_inscore.mustache}}
          <{{contract}}> ?objectProperty ?cpv .
        }
      }
    } UNION {
      SELECT ?cpv ({{inferred-object-inhibition}} AS ?inScoreModifier)
      WHERE {
        GRAPH <{{matched-resource-graph}}> {
          <{{contract}}> pc:mainObject ?_cpv .
        }
        GRAPH <{{cpv-graph}}> {
          ?_cpv skos:broaderTransitive{1,{{query-expansion.hops-to-broader}}} ?cpv .
        }
      }
    }
  }
}
GRAPH <{{source-graph}}> {
  {{> templates/matchmaker/sparql/partials/object_property_outscore.mustache}}
  ?contract pc:awardedTender [
      pc:bidder ?match
    ] ;
    ?objectProperty ?cpvObject .
}
      
{{> templates/matchmaker/sparql/contract/to/business_entity/partials/cpv_query_tail.mustache}}
