{{> web/head.mustache}}

<div class="starter-template">
  <form role="form" class="form-inline" method="GET" action="">
    <select class="form-control">
      <option>Match contract</option>
    </select>
    <div class="form-group">
      <input id="contract" type="url" autofocus placeholder="Contract URI">
    </div>
  </form>
</div>

{{> web/footer.mustache}}
