{{!
@param IRI matched-resource
@param IRI metadata-graph
}}

SELECT DISTINCT ?graph
WHERE {
  {
    SELECT DISTINCT ?graph
    WHERE {
      GRAPH <{{metadata-graph}}> {
        ?graph a sd:Graph .
      }
    }
  }
  GRAPH ?graph {
    <{{matched-resource}}> ?p [] .
  }
}
