{{!
@param IRI contract
@param IRI source-graph
@param IRI cpv-graph
@param int limit
@param int additional-object-inhibition
@param int cpv-broader-steps
}}

{{> templates/matchmaker/sparql/contract/partials/cpv_query_head.mustache}}

{
  SELECT DISTINCT ?cpvObject ?inScoreModifier 
  WHERE {
    GRAPH <{{source-graph}}> {
      {{> templates/matchmaker/sparql/partials/object_property_inscore.mustache}}
      <{{contract}}> ?objectProperty ?sourceObject .
    }
    GRAPH <{{cpv-graph}}> {
      {{=<% %>=}}
        ?sourceObject skos:broaderTransitive{0,<%cpv-broader-steps%>} ?cpvObject .
      <%={{ }}=%>
    }
  }
}
GRAPH <{{source-graph}}> {
  {{> templates/matchmaker/sparql/partials/object_property_outscore.mustache}}
  ?contract pc:awardedTender [
      pc:supplier ?match
    ] ;
    ?objectProperty ?targetObject .
}
GRAPH <{{cpv-graph}}> {
  {{=<% %>=}}
    ?targetObject skos:broaderTransitive{0,<%cpv-broader-steps%>} ?cpvObject .
  <%={{ }}=%>
}

{{> templates/matchmaker/sparql/contract/partials/cpv_query_tail.mustache}}
