{{!
@param IRI contract
@param IRI source-graph
@param IRI cpv-graph
@param int limit
@param int additional-object-inhibition
@param int cpv-broader-steps
}}

{{> templates/prefixes.mustache}}

SELECT ?match
WHERE {
  {
    SELECT ?match ?inScoreModifier ?outScoreModifier (COUNT(DISTINCT ?contract) AS ?contractCount)
    WHERE {
      {
        SELECT DISTINCT ?CPVObject ?inScoreModifier 
        WHERE {
          GRAPH <{{source-graph}}> {
            VALUES (?objectProperty     ?inScoreModifier) {
                   (pc:mainObject       1)
                   (pc:additionalObject {{additional-object-inhibition}})    
            }
            <{{contract}}> ?objectProperty ?sourceObject .
          }
          GRAPH <{{cpv-graph}}> {
            {{=<% %>=}}
              ?sourceObject skos:broaderTransitive{0,<%cpv-broader-steps%>} ?CPVObject .
            <%={{ }}=%>
          }
        }
      }
      GRAPH <{{source-graph}}> {
        VALUES (?objectProperty     ?outScoreModifier) {
               (pc:mainObject       1)
               (pc:additionalObject {{additional-object-inhibition}})
        }
        ?contract pc:awardedTender [
            pc:supplier ?match
          ] ;
          ?objectProperty ?CPVObject .
      }
    }
    GROUP BY ?match ?inScoreModifier ?outScoreModifier
  }
}
GROUP BY ?match
ORDER BY DESC(SUM(?inScoreModifier * ?outScoreModifier * ?contractCount))
LIMIT {{limit}} 
