{{!
@param IRI contract
@param IRI source-graph
@param int limit
@param int additional-object-inhibition
}}

{{> templates/matchmaker/sparql/contract/partials/cpv_query_head.mustache}}

{
  SELECT ?cpvObject ?inScoreModifier 
  WHERE {
    GRAPH <{{source-graph}}> {
      {{> templates/matchmaker/sparql/partials/object_property_inscore.mustache}}
      <{{contract}}> ?objectProperty ?cpvObject .
    }
  }
}
GRAPH <{{source-graph}}> {
  {{> templates/matchmaker/sparql/partials/object_property_outscore.mustache}}
  ?contract pc:awardedTender [
      pc:supplier ?match
    ] ;
    ?objectProperty ?cpvObject .
}

{{> templates/matchmaker/sparql/contract/partials/cpv_query_tail.mustache}}
