{{!
@param IRI source-graph
}}

{{> templates/prefixes.mustache}}

SELECT (COUNT(DISTINCT ?businessEntity) AS ?count)
WHERE {
  GRAPH <{{source-graph}}> {
    ?businessEntity a gr:BusinessEntity .
    [] pc:bidder ?businessEntity .
  }
}
