{{!
@param Array<CURIe> class-curies
}}

{{> templates/prefixes.mustache}}

SELECT DISTINCT ?resource ?class
WHERE {
  VALUES ?class {
    {{#class-curies}}
    {{.}}
    {{/class-curies}}
  }
  ?resource a ?class .
}
LIMIT 2
