{{!
@param map additional-object-inhibition
@param map main-object-inhibition
}}

VALUES (?objectProperty     ?inScoreModifier) {
       (pc:mainObject       {{main-object-inhibition.in}})
       (pc:additionalObject {{additional-object-inhibition.in}})
}
