{{!
@param int additional-object-inhibition
}}

VALUES (?objectProperty     ?inScoreModifier) {
       (pc:mainObject       1)
       (pc:additionalObject {{additional-object-inhibition.in}})
       (gr:category         1)
}
