{{!
@param IRI business-entity
@param IRI source-graph
@param int additional-object-inhibition
@param int limit
@param int offset (optional)
}}

                }
                GROUP BY ?cpvObject ?inScoreModifier
              }
            }
            GROUP BY ?cpvObject
          }
          GRAPH <{{source-graph}}> {
            {{> templates/matchmaker/sparql/business_entity/partials/bidder_property.mustache}}
            {{> templates/matchmaker/sparql/business_entity/partials/tender_property.mustache}}
            {{> templates/matchmaker/sparql/partials/object_property_outscore.mustache}}
            ?match ?objectProperty ?cpvObject .
            FILTER NOT EXISTS {
              ?match ?tenderProperty [
                  ?bidderProperty <{{business-entity}}> 
                ] .
            }
          }
        }
        GROUP BY ?match ?cpvObject ?inScore ?outScoreModifier
      }
    }
    GROUP BY ?match
    ORDER BY DESC(?score)
    LIMIT {{limit}}
    {{#offset}}
    OFFSET {{offset}}
    {{/offset}}
  }
  OPTIONAL {
    GRAPH <{{source-graph}}> {
      ?match dcterms:title ?_title .
    }
  }
}
GROUP BY ?match ?score
