{{!
@param IRI business-entity
@param IRI matched-resource-graph
@param IRI source-graph
@param int additional-object-inhibition
@param int limit
@param int offset (optional)
@param boolean current (optional)
}}

{{> templates/matchmaker/sparql/business_entity/to/contract/partials/cpv_query_head.mustache}}

GRAPH <{{matched-resource-graph}}> {
  {{> templates/matchmaker/sparql/partials/bidder_property.mustache}}
  {{> templates/matchmaker/sparql/partials/tender_property.mustache}}
  {{> templates/matchmaker/sparql/partials/object_property_inscore.mustache}}
  ?contract ?tenderProperty [
      ?bidderProperty <{{business-entity}}>
    ] ;
    ?objectProperty ?cpvObject .
}
                  
{{> templates/matchmaker/sparql/business_entity/to/contract/partials/cpv_query_tail.mustache}}
