{{!
@param IRI business-entity
@param IRI matched-resource-graph
@param IRI source-graph
@param IRI cpv-graph
@param int additional-object-inhibition
@param int limit
@param int offset (optional)
}}

{{> templates/matchmaker/sparql/business_entity/partials/cpv_query_head.mustache}}

GRAPH <{{matched-resource-graph}}> {
  {{> templates/matchmaker/sparql/business_entity/partials/bidder_property.mustache}}
  {{> templates/matchmaker/sparql/business_entity/partials/tender_property.mustache}}
  {{> templates/matchmaker/sparql/partials/object_property_inscore.mustache}}
  ?contract ?tenderProperty [
      ?bidderProperty <{{business-entity}}> 
    ] ;
    ?objectProperty ?sourceObject .
}
GRAPH <{{cpv-graph}}> {
  ?sourceObject skos:narrowerTransitive* ?cpvObject .
}
        
{{> templates/matchmaker/sparql/business_entity/partials/cpv_query_tail.mustache}}
