{{!
@param IRI source-graph
}}

{{>prefixes}}

ASK
WHERE {
  GRAPH <{{source-graph}}> {
    [] a pc:Contract ;
      pc:mainObject [] ;
      pc:awardedTender [
        pc:supplier []
      ] .
  }
}
