{{!
@param IRI source-graph
}}

{{> templates/prefixes.mustache}}

ASK
WHERE {
  GRAPH <{{source-graph}}> {
    [] a pc:Contract ;
      pc:mainObject [] ;
      pc:awardedTender [
        pc:supplier []
      ] .
  }
}
