{{!
@param IRI source-graph
@param int limit
@parem int offset
}}

{{> templates/prefixes.mustache}}

SELECT DISTINCT ?resource 
WHERE {
  GRAPH <{{source-graph}}> {
    ?resource a pc:Contract .
    FILTER NOT EXISTS {
       [] pc:lot ?resource .
    }
  }
}
LIMIT {{limit}}
OFFSET {{offset}}
