{{!
@param IRI source-graph
@param int limit
@param int offset
}}

{{> templates/prefixes.mustache}}

SELECT DISTINCT ?resource 
WHERE {
  GRAPH <{{source-graph}}> {
    {{> templates/matchmaker/sparql/partials/business_entity_classes.mustache}}
    VALUES ?businessEntityLink {
      pc:bidder
      pc:supplier
    }
    ?resource a ?businessEntityClass .
    [] ?businessEntityLink ?resource .
  }
}
LIMIT {{limit}}
OFFSET {{offset}}
