{{!
@param IRI source-graph
@param int limit
}}

{{> templates/prefixes.mustache}}

SELECT DISTINCT ?resource 
WHERE {
  GRAPH <{{source-graph}}> {
    VALUES ?businessEntityLink {
      pc:bidder
      pc:supplier
    }
    ?resource a gr:BusinessEntity .
    [] ?businessEntityLink ?resource .
    FILTER (1 > <SHORT_OR_LONG::bif:rnd>(10, ?resource))
  }
}
LIMIT {{limit}}
