{{!
@param IRI source-graph
@param int limit
}}

{{> templates/prefixes.mustache}}

SELECT DISTINCT ?resource 
WHERE {
  GRAPH <{{source-graph}}> {
    {{> templates/matchmaker/sparql/partials/business_entity_classes.mustache}}
    VALUES ?businessEntityLink {
      pc:bidder
      pc:supplier
    }
    ?resource a ?businessEntityClass .
    [] ?businessEntityLink ?resource .
    FILTER (1 > <SHORT_OR_LONG::bif:rnd>(10, ?resource))
  }
}
LIMIT {{limit}}
